---
layout: default
title: LC-Linkous.github.io
---

<div id="home">

  <!-- newest post -->
  {% assign firstPost = site.posts.first %}
  <div>
    <h1><a href="{{ firstPost.url }}">{{ firstPost.title }}</a></h1>
    <p>
      <b>{{ firstPost.datePosted }}</b> <br>
      {{ firstPost.summary }} <br>
      <b>tags:</b>
      {% for tag in firstPost.tags %}
        <a href="/tags/{{ tag }}">#{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
  </div>

  {% assign firstTag = firstPost.tags | first %}
  {% include related-posts.html tag=firstTag exclude=firstPost.url %}

</div>