---
layout: default
title: LC-Linkous.github.io
---

<div id="home">

<!-- newest  -->
<div>
    {% assign post = site.posts.first %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p>
        <b>{{post.datePosted}}</b> <br>
        {{post.summary}} <br>
        <b>tags:</b>    
        {% for tag in post.tags %}
          <a href="/tags/{{tag}}">#{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </p>
 
  <br>
  <br>

  <!-- recent posts -->
  {% for post in paginator.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}     

</div>









<!-- most recent post -->





<!-- last 4 recent posts on the bottom of the page -->

  <h1>Recent Posts</h1>
  <ul class="posts">
    {% for post in paginator.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <!-- <a href="{{ paginator.previous_page_path }}">Previous Page</a>
  <a href="{{ paginator.next_page_path }}">Next Page</a> -->
</div>
