---
layout: default
title: LC-Linkous.github.io
---

<main id="main" class="site-main">
					
  <ul class="posts">
    <h1>Post Archive</h1> 
    {% for post in site.posts %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>
          <b>{{post.datePosted}}</b> <br>
          {{post.summary}} 
          <br>
          {% for tag in page.tags %}
          <a class="post" href="/tags/{{tag}}">#{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}

        </p>
    </li>
    {% endfor %}
</ul>

</main>
  
