---
layout: default
title: LC-Linkous.github.io
---

<main id="main" class="site-main">
					
	<article id="post" class="single post">
  <h1> {{ page.title }}</h1>
  <h3>{{ page.datePosted }}</h3>
  {{ content }}    

	</article><!-- #post -->
  <!-- <h1>{{page.data}}</h1> -->
  <!-- related posts by tags -->
  <h3>Related Posts</h3>
  <p>text here</p>


  <ul class="posts">
      <!-- {% assign posts = site.posts %}
        {% for post in posts limit: 2 %}
          {{ post.postTags }}
        {% endfor %} -->


    {% assign posts = site.posts %}
      {% for post in posts %}
        {% if post.tags contains page.tag %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          <p class="link_tags">{{ page.tags }}</p>
        {% endif %}        
      {% endfor %}

  </ul>

</main><!-- .site-main -->