---
layout: default
title: LC-Linkous.github.io
---

<main id="main" class="site-main">
					
	<article id="post" class="single post">
  <h1> {{ page.title }}</h1>
  <h3>{{ page.datePosted }}</h3>
  {{ content }}    

	</article><!-- #post -->
  <h1>{{page.data}}</h1>
  <!-- related posts by tags -->
  <h3>Related Posts</h3>

  <!-- <ul class="posts"> -->
    {% assign posts = site.posts %}
      <!-- {% for post in posts %}
        {{ post.title }}
      {% endfor %} -->

    <!-- {% for post in paginator.posts %} -->
    <!-- {% for post in posts %} -->
      <!-- <h1>{{post.tags}}</h1> -->

      <!-- {% if post.tags contains page.tag %} -->
        <!-- <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> -->
        <!-- <p class="link_tags">{{ page.tags }}</p> -->
      <!-- {% endif %} -->
      
    <!-- {% endfor %} -->
  <!-- </ul> -->

</main><!-- .site-main -->