---
layout: default
title: LC-Linkous.github.io
---

<main id="main" class="site-main">
					
	<article id="post" class="single post">
  <h1> {{ page.title }}</h1>
  <h3>{{ page.datePosted }}</h3>
  {{ content }}    

	</article><!-- #post -->
  <!-- <h1>{{page.data}}</h1> -->
  <!-- related posts by tags -->
  <h3>Related Posts</h3>
  <p>text here</p>


<ul class="posts">
    {% assign posts = site.posts %}
      <!-- {% for post in posts %}
        {{ post.title }}
      {% endfor %} -->


    {% for post in posts %}
      <!-- {% for post in posts %} -->
      <h1>{{post.tags}}</h1>
      <!-- <p class="link_tags">{{ page.tags }}</p> -->
    {% endfor %}

  </ul>



</main><!-- .site-main -->